.counter-container{
    background-color: rgb(232, 232, 180);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 1.5rem;
    border: 2px solid black;
    border-radius: 5px;
}
#btn{
    width: 100px;
    height: 30px;
    background-color: rgb(0, 162, 255);
    color: black;
    font-size: large;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
}