*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
html, body {
    width: 100%;
    height: 100%;
}

.main-nav{
    width: 100%;
    height: 40px;
    display: flex;
    background-color: rgba(17, 17, 74, 0.491);
}

.left-nav{
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: rgb(221, 91, 91); */
  color: white;
  font-size: 20px;
}
.right-nav{
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  /* background-color: rgb(209, 191, 191); */
  color: white;
  font-size: large;
}

.nav-item {
  display: inline-block;
  padding: 10px;
  text-decoration: none;
  position: relative;
}
.nav-item::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #00aaff;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}
.nav-item:hover::after {
  transform: scaleX(1);
}

.main-content{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    background-color: rgb(249, 249, 250);
    color: rgb(6, 6, 6);
}
.left-content{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: aqua; */
}
.left-content .btn{
    width: 100%;
    height: 20px;
    display: flex;
    gap: 10px;
    /* background-color: aqua; */
    margin-top: 10px;
    margin-right: 18%;
    align-items: center;
    justify-content: center;
}

.left-content .btn .download-btn{
    padding: 5px 10px;
    font-weight: 600;
    background-color: rgb(189, 25, 225);
    color: white;
    border: 1px solid black;
    cursor: pointer;
}
.left-content .btn .github-btn{
    padding: 5px 10px;
    font-weight: 600;
    background-color: rgb(189, 25, 225);
    color: white;
    border: 1px solid black;
    cursor: pointer;
}
.left-content .btn .download-btn:hover {
  color: rgba(0, 0, 0, 0.466);
  border-radius: 10px;
}
.left-content .btn .github-btn:hover {
  color: rgba(0, 0, 0, 0.466);
  border-radius: 10px;
}
.right-content{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: rgb(0, 119, 255); */
}
.my-work{
    width: 100%;
    height: 100%;
    padding: 20px;
    /* background-color: aqua; */
}
.skill{
    width: 100%;
    height: 100%;
    /* background-color: blueviolet; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}
.skill h3 {
    font-size: 30px;
}
.html{
    width: 200px;
    color: rgba(0, 0, 0, 0.646);
    background-color: rgba(194, 190, 184, 0.647);
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.html:hover {
    color: black;
    background-color: rgba(17, 17, 74, 0.274);
}
.css{
    width: 200px;
        color: rgba(0, 0, 0, 0.646);
    background-color: rgba(194, 190, 184, 0.647);
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.css:hover {
    color: black;
    background-color: rgba(17, 17, 74, 0.274);
}
.js{
    width: 200px;
        color: rgba(0, 0, 0, 0.646);
    background-color: rgba(194, 190, 184, 0.647);
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.js:hover {
    color: black;
    background-color: rgba(17, 17, 74, 0.274);
}
.react{
    width: 200px;
    height: 290px;
    color: rgba(0, 0, 0, 0.646);
    background-color: rgba(194, 190, 184, 0.647);
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.react:hover {
    color: black;
    background-color: rgba(17, 17, 74, 0.274);
}
footer {
  /* background-color: #222; */
  color: #fff;
  padding: 20px 0;
  text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
    background-color: rgba(17, 17, 74, 0.491);
}

.right-footer {
  width: 50%;
  display: flex;
  flex-direction: column;
  /* background-color: rgb(221, 91, 91); */
  color: white;
  font-size: large;
}
.left-footer{
  width: 50%;
  display: flex;
  justify-content: center;
  margin-top: 15px;
  /* background-color: rgb(221, 91, 91); */
  color: white;
  font-size: 20px;
}

.footer-links {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 10px;
}

.footer-links a {
  color: black;
  text-decoration: none;
}

.footer-links a:hover {
  text-decoration: underline;
  color: rgba(0, 0, 0, 0.466);
}
.box{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.details{
    width: 60%;
    display: flex;
    flex-direction: column;
    background-color: rgba(194, 190, 184, 0.476);
    gap: 20px;
    padding: 20px;
    border-radius: 20px;
    font-size: 18px;
}